body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.container{
    background-color:aqua;
    padding: 0px;
    padding-left: 20px;
    border-radius: 8px;
    width: 550px;
    height: 70%;
    border: 1px solid #ccc;
    text-align: center;
    justify-content: space-between;
}
.container h3{
    text-align: start;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;

}.button-container {
    text-align: center;
    margin-top: auto;
    display: ruby-base-container;
}

.button{
    padding: 10px 20px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;
    display: ruby-base;
    transform: translate(-10%,150%);
}
.button:hover{
    background: limegreen;
}

.box {
    display: flex;
    align-items: center;
    padding: 8px;
    border: 2px solid #ccc;
    border-radius: 8px;
    display: flex;
    display:ruby-base;
    width:90%;
    background-color:floralwhite;
}
.logo{
    width: 170px; /* Adjust the width of the logo as needed */
    height: 170px; /* Adjust the height of the logo as needed */
    margin-right: 10px; /* Adjust the spacing between logo and text as needed */
}
.logo1{
    width:300px;
    height: 70px;
    margin-right: 10px;
}